@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll-bar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-fade-in {
  animation: fade-in 2s ease-in-out forwards;
}

.animate-scroll-bar {
  animation: scroll-bar 10s linear infinite;
}
